<div style="background: #D8D8D8">
  <div >
    <div style="border: 1px solid black; border-radius: 5px">
      <div style="padding: 10px;display: flex;justify-content: center">
        Login:
         <input style="border-radius: 10px;display: flex;justify-content: center;"type="text" name="login">
      </div>
      <div style="padding: 10px; display: flex; justify-content: center">
        Senha:
        <input style="border-radius: 10px;display: flex;justify-content: center;"type="password" name="senha">
      </div>
      <div style="display: flex; justify-content: center">
        <button (click)="login()" style="border-radius: 5px; border: 1px solid black; margin: 15px">Entrar</button>
      </div>
    </div>
  </div>
  </div>